@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,800&display=swap');

:root {
  --primary-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 5, 88, 1) 0%,
    rgba(9, 54, 121, 1) 26%,
    rgba(0, 212, 255, 1) 100%,
    rgba(2, 168, 226, 1) 100%
  );
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  width: 90%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  animation: fromBottom 0.7s 0.2s backwards;
}

.btn:hover {
  background: #afa7a7;
}

h1 {
  text-align: center;
}

.calculadora {
  width: 100%;
 
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
  margin-top: 20px;
}

.btn {
  width: 100%;
  height: 3em;
  font-size: 1em;
  border: none;
  background-color: #dfdfdf;
  cursor: pointer;
}

.btn-igual {
  background: rgb(113, 199, 228);
}

.btn-limpar {
  color: lightcoral;
}

.contato  {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
}


img {
  width: 60px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  transition: all .3s;
  animation: fromBottom 0.7s 0.2s backwards;
}

img:hover {
  transform:scale(1.25);
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

